name: Security Pipeline

on: [push]

jobs:
  sast_scan:
    name: Run Bandit (SAST)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Bandit
        run: pip install bandit
      - name: Scan Code
        # El pipeline fallará si encuentra vulnerabilidades de nivel medio o alto
        run: bandit -r . -ll

  dast_scan:
    name: Run OWASP ZAP (DAST)
    runs-on: ubuntu-latest
    needs: sast_scan
    steps:
      - name: Checkout code
        uses: actions/checkout@v4 # Actualizado a v4

      - name: Start Application
        run: |
          pip install flask
          # Importante: Correr en modo seguro para el escaneo
          python app.py & 
          sleep 10 # Damos un poco más de tiempo para que inicie

      - name: ZAP Scan
        # Usamos una versión más reciente que ya apunta al nuevo repositorio
        uses: zaproxy/action-baseline@v0.12.0 
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          target: 'http://127.0.0.1:5000/search?id=1'
          # Esta opción ayuda si el contenedor de ZAP tiene problemas de red con localhost
          docker_name: 'ghcr.io/zaproxy/zaproxy:stable'