name: Security Pipeline

on: [push]

jobs:
  sast_scan:
    name: Run Bandit (SAST)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4 # Actualizado a la última versión estable

      - name: Install Bandit
        run: pip install bandit

      - name: Scan Code
        # El pipeline fallará si encuentra vulnerabilidades de nivel medio o alto (-ll)
        run: bandit -r . -ll

  dast_scan:
    name: Run OWASP ZAP (DAST)
    runs-on: ubuntu-latest
    needs: sast_scan
    permissions:
      contents: read
      issues: write # Necesario para que ZAP cree el reporte en la pestaña Issues
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Start Application
        run: |
          pip install flask
          # Se corre la app en segundo plano
          python app.py & 
          sleep 10 # Tiempo para que el servidor Flask esté listo

      - name: ZAP Scan
        uses: zaproxy/action-baseline@v0.12.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          target: 'http://127.0.0.1:5000/search?id=1'
          docker_name: 'ghcr.io/zaproxy/zaproxy:stable'
          # Cambiamos el nombre del artefacto interno para evitar el error 400
          artifact_name: 'zap-reports-internal'

      - name: Upload Security Reports
        if: always() # Se ejecuta aunque el escaneo encuentre vulnerabilidades
        uses: actions/upload-artifact@v4
        with:
          name: zap-security-reports
          path: |
            report_json.json
            report_md.md
            report_html.html